@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>
        <i class="bi bi-stopwatch"></i>

    </h1>
    <h1 class="display-3"> 
        Time Analyzer
        
    </h1>
</div>
